*{
    margin: 0px;
    padding: 0px;
    font-family:sans-serif
}
/* Start Banner Section */
.banner-container{
    background-color: #f6e2e7;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 60px 90px 0px 90px;
}
.banner-flower-img{
    width: 400px;
}
.banner-text{
    width: 600px;
}
.banner-text-h1{
    font-weight:750;
    font-size: 50px;
}
.banner-desc{
    margin-top: 15px;
    margin-bottom: 25px;
}
.btn{
    padding: 12px 25px;
    border: none;
    border-radius: 7px;
    background-color: #E55473;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: #E55473;
}
/* End Banner Section */

/* Start Main Section */

.flower-section-text{
    margin-top: 100px;
    text-align: center;
}
.flower-section-text h1{

}